.testimonials {

    &__slider {
        display: flex;
        align-items: center;
        max-height: 490px;
        width: 100%;
        background: #5c3249;
       
    }
    
    &__image-wrapper {
        display: flex;
        max-width: 741px;

        img {
            width: 100%;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        padding: 0 10px 0 129px;
        color: @white-text-color;
    }
    
    &__citation {
        max-width: 497px;
        padding: 17px 0;

        h2 {
            font-family: Cardo;
            font-style: italic;
            font-weight: 400;
            font-size: 36px;
            line-height: 49px;
            color: @white-text-color;
            display: flex;
            align-items: center;
            text-transform: capitalize;
        }
    }
    
    &__author {

        max-width: 497px;
        padding: 7px 0;

        h6 {
            font-weight: 700;
            font-size: 13px;
            line-height: 15px;
            display: flex;
            align-items: center;
            text-transform: uppercase;
        }
    }

    &__button-container {
        padding-top: 31px;
        margin: 0 auto;
        max-width: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    &__button-container .radio {
        display: none;
    }

    &__button-container .radio + label::before {
        content: "";
        display: block;
        width: 14px;
        height: 14px;
        border: 1px solid #86878B;
        border-radius: 10px;
        cursor: pointer;
    }

    &__button-container .radio:checked + label::before {
        background: @falcon-dots-color;
    }
}