.work {

    .container {
        max-width: 100%;
    }
    
    &__project-card {
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(4, 2fr);
        gap: 2px 2px;
    }

    .project-card {
        display: flex;
    }
}