.work {

    .container {
        max-width: 100%;
    }
    
    &__project-card {
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(4, 2fr);
        gap: 2px 2px;
        justify-content: space-between;
    }

    .project-card {
        display: flex;
        
    }
}
/*
&__cards {
    display: flex;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 2fr);
    gap: 71px 30px;
}

&__card {
    width: 370px;
    height: 305.43px;
    display: flex;
    flex-direction: column;
    text-align: center;
}*/