.work {
    
    &__project-card {
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(4, 2fr);
        gap: 2px 2px;
    }

    .project-card {
        display: flex;
        position: relative;

        img {
            min-width: 100%;
            min-height: 100%;
        }

        &__wrap-text {
            opacity: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(255, 67, 67, 0.8);
        }

        &__wrap-text:hover {
            opacity: 1;
            cursor: pointer;
        }

        &__wrap-text:active {
            background: rgba(185, 12, 12, 0.8);
            border: 2px solid @white-border-color;
        }

        &__text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-width: 100%;
            min-height: 100%;

            h4 {
                padding: 16px 0;
                font-weight: 900;
                font-size: 24px;
                line-height: 28px;
                text-align: center;
                text-transform: uppercase;
                color: @white-text-color;
            }

            h5 {
                margin-top: 21px;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                text-align: center;
                color: @white-text-color; 
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    
    .work {
        .project-card {
            &__text {

                h4 {
                    padding: 10px 0;
                    font-size: 18px;
                    line-height: 21px;
                }
    
                h5 {
                    margin-top: 13px;
                    font-size: 14px;
                    line-height: 16px;
                }
            }
        }
    }
}

@media screen and (max-width: 760px) {

    .work {
        &__project-card {
            grid-template: repeat(4, 2fr) / repeat(2, 1fr);
        }
    }
}

@media screen and (max-width:345px) {
    .work {
        .project-card {
            &__text {
                h4 {
                    font-size: 16px;
                }
            }
        }
    }
}

@media screen and (max-width: 320px) {

    .work {
        .project-card {
            &__text {

                h4 {
                    padding: 2px 0;
                }
    
                h5 {
                    margin-top: 5px;
                }
            }
        }
    }
}